.flex {
   display: flex;
   gap: 120px;
   align-items: center;
   justify-content: center;
   margin-top: 20px;
}

* {
   box-sizing: border-box;
   padding: 0px;
   margin: 0px;
   border: 0;
   background-color: #737D39;
}

body {
   font-size: 100%;
   font-family: 'Helvetica', sans-serif;
   text-align: center;
   color: #FFFFFF;
   background-color: #737D39;
}

p {
   margin: 30px 60px 20px;
}

#title {
   font-size: 3.5em;
   margin-top: 70px;
}

/* Greetings */
.greetings {
   margin: 0px 450px;
}

.greetings img {
   padding: 20px;
}

img {
   width: 100%;
   display: block;
   margin: auto;
}

#end_image {
   margin-top: 30px;
   margin-bottom: 30px;
   max-width: 450px;
   border-radius: 20px;
   border: 4px solid #FFFFFF;
}

button {
   width: 250px;
   height: 70px;
}

#start {
   margin-top: 30px;
}

button {
   background-color: #FFFFFF;
   color: #737D39;
   text-transform: uppercase;
   font-weight: 700;
   font-size: 1.15em;
   letter-spacing: .8px;
   border-radius: 40px;
}

/* Gameplay */
p.toRemove {
   font-size: 1.2em;
   margin: 20px 0px;
}

#Rock, #Scissors, #Paper {
   margin-top: 30px;
   width: 200px;
   height: 60px;
}

button:hover {
   background-color: #222629;
   color: #FFFFFF;
}

h2 {
   margin: 30px 0px;
   font-size: 1.3em;
}
